# % macro, __doc__, Template to read ID tags 
# % macro, prefix, device prefix, e.g. SR02K-MO
# % macro, port, port name of ether_ip driver
# % macro, name, gui component name
# % macro, idname, gui label

# % gui, $(name), edm, idplc_Interlocks.edl, prefix=$(prefix),idname=$(idname)
# % gui, $(name)0, edmembed, idplc_Health-embed.edl, prefix=$(prefix)
# % gui, $(name)1, edmembed, idplc_EncPower-embed.edl, prefix=$(prefix)

# % archiver 10.0 Monitor
record(ai, "$(prefix)-PLC-01:GAP") {
  field(DESC, "PLC gap")
  field(ADEL, "5")
  field(DTYP, "EtherIP")
  field(SCAN, "1 second")
  field(EGU, "mm")
  field(PREC, "2")
  field(INP, "@$(port) ID_GAP")
}

# dummy records for taper and offset
# to avoid invalid records on the screen
# plc investigation showed these were not being calculated
record(ai, "$(prefix)-PLC-01:TAPER") {
  field(DESC, "PLC taper")
  field(VAL, "0")
  field(ADEL, "1")
}

record(ai, "$(prefix)-PLC-01:OFFSET") {
  field(DESC, "PLC offset")
  field(VAL, "0")
  field(ADEL, "1")
}

# reset motion stop
record(ao, "$(prefix)-MSTOP-01:RESET") {
  field(DESC, "Trigger Reset Motion Stop")
  field(SCAN, "Passive")
  field(DTYP, "Soft Channel")
  field(OUT, "$(prefix)-PLC-01:OUT:D104 PP")
  field(DOL, "1")
  field(OMSL, "closed_loop")
  field(DRVH, "2")
}

record(ao, "$(prefix)-PLC-01:OUT:D104") {
  field(DESC, "Write to control value on PLC")
  field(SCAN, "Passive")
  field(DTYP, "EtherIP")
  field(OUT, "@pport Reset_Motion_Stop S 1")
}

record(bo, "$(prefix)-IOC-01:HEALTH") {
  field(DESC, "IOC Healthy")
  field(SCAN, "Passive")
  field(DTYP, "Soft Channel")
  field(ZNAM, "Fail")
  field(ONAM, "IOC Healthy")
  field(ZSV, "MAJOR")
  field(OSV, "NO_ALARM")
  field(COSV, "NO_ALARM")
  field(FLNK, "$(prefix)-IOC-01:HEPLC")
  field(PINI, "YES")
  field(VAL, "1")
}

record(ao, "$(prefix)-IOC-01:HEPLC") {
  field(DESC, "Trigger Motion Stop")
  field(SCAN, "Passive")
  field(DTYP, "Soft Channel")
  field(OUT, "$(prefix)-PLC-01:OUT:STOP PP")
  field(DOL, "1")
  field(OMSL, "closed_loop")
  field(DRVH, "1")
}

record(ao, "$(prefix)-PLC-01:OUT:STOP") {
  field(DESC, "Write to control value on PLC")
  field(SCAN, "Passive")
  field(DTYP, "EtherIP")
  field(OUT, "@pport Motion_Stop_Request S 1")
}

# encoder power request
record(ao, "$(prefix)-STAT-01:ENCPWR") {
  field(DESC, "Power-cycle encoders")
  field(SCAN, "Passive")
  field(DTYP, "Soft Channel")
  field(OUT, "$(prefix)-PLC-01:OUT:D105 PP")
  field(DOL, "1")
  field(OMSL, "closed_loop")
  field(DRVH, "2")
}

# Remote Encoder Power Cycle: 1 -> Power Cycle
record(ao, "$(prefix)-PLC-01:OUT:D105") {
  field(DESC, "Remote Encoder Power Cycle")
  field(SCAN, "Passive")
  field(DTYP, "EtherIP")
  field(OUT, "@pport Enc_Power_Request")
}
