# % macro, __doc__, Template to read ID tags 
# % macro, prefix, device prefix, e.g. SR02K-MO
# % macro, port, port name of ether_ip driver
# % macro, name, gui component name
# % macro, idname, gui label

# % gui, $(name), edm, NX102_idInterlocks.edl, prefix=$(prefix),idname=$(idname)

# % archiver 10.0 Monitor
record(ai, "$(prefix)-PLC-01:GAP") {
  field(DESC, "PLC gap")
  field(ADEL, "5")
  field(DTYP, "EtherIP")
  field(SCAN, "1 second")
  field(EGU, "mm")
  field(PREC, "2")
  field(INP, "@$(port) ID_GAP")
}

# dummy records for taper and offset
# to avoid invalid records on the screen
# plc investigation showed these were not being calculated
record(ai, "$(prefix)-PLC-01:TAPER") {
  field(DESC, "PLC taper")
  field(VAL, "0")
  field(ADEL, "1")
}

record(ai, "$(prefix)-PLC-01:OFFSET") {
  field(DESC, "PLC offset")
  field(VAL, "0")
  field(ADEL, "1")
}

# reset motion stop
record(ao, "$(prefix)-MSTOP-01:RESET") {
  field(DESC, "Trigger Reset Motion Stop")
  field(SCAN, "Passive")
  field(DTYP, "Soft Channel")
  field(OUT, "$(prefix)-PLC-01:OUT:D104 PP")
  field(DOL, "1")
  field(OMSL, "closed_loop")
  field(DRVH, "2")
}

record(ao, "$(prefix)-PLC-01:OUT:D104") {
  field(DESC, "Write to control value on PLC")
  field(SCAN, "Passive")
  field(DTYP, "EtherIP")
  field(OUT, "@pport Reset_Motion_Stop S 1")
}

# encoder power request
record(bo, "$(prefix)-STAT-01:ENCPWR") {
  field(DESC, "Power-cycle encoders")
  field(SCAN, "Passive")
  field(DTYP, "Soft Channel")
  field(OUT, "$(prefix)-PLC-01:ENCSEQ")
  field(ZNAM, "Powered")
  field(ONAM, "Un-powered")
}

record(seq, "$(prefix)-STAT-01:ENCSEQ") {
  field(SCAN, "Passive")
  field(DLY1, "0.0")
  field(DOL1, "1")
  field(LNK1, "$(prefix)-PLC-01:OUT:D105 PP")
  field(DLY2, "1.5")
  field(DOL2, "0")
  field(LNK2, "$(prefix)-PLC-01:OUT:D105 PP")
}

# Remote Encoder Power Cycle: 1 -> Power Cycle
record(ao, "$(prefix)-PLC-01:OUT:D105") {
  field(DESC, "Remote Encoder Power Cycle")
  field(SCAN, "Passive")
  field(DTYP, "EtherIP")
  field(OUT, "@pport Enc_Power_Request")
}
